In [15]:
### 合并22年原始数据与提供的补充数据

import pandas as pd

# 导入原始科目数据和缺失科目补充数据
df1 = pd.read_csv('/Users/zhuangyuhao/PycharmProjects/SeasonRepMod/整合季报代码模型/dfs/原始科目数据_20221111.csv')
df2 = pd.read_csv('/Users/zhuangyuhao/PycharmProjects/SeasonRepMod/整合季报代码模型/dfs/2019-2022Q3缺失科目_20230103.csv')

In [16]:
df1

,BASIC_entity_name,BASIC_code,BASIC_industry,BASIC_year,BASIC_quarter,id,code,init_value,master_id,code_id,end_value,add_time,old_value
0,万科企业股份有限公司,000002.SZ,M009,2019,1,175805680,BS_0101,1.432204e+11,83770,NaN,1.432204e+11,1/7/2022 04:40:34,NaN
1,万科企业股份有限公司,000002.SZ,M009,2019,1,175805681,BS_0102,1.101658e+09,83770,NaN,1.101658e+09,1/7/2022 04:40:34,NaN
2,万科企业股份有限公司,000002.SZ,M009,2019,1,175805683,BS_0104,1.837708e+09,83770,NaN,1.837708e+09,1/7/2022 04:40:34,NaN
3,万科企业股份有限公司,000002.SZ,M009,2019,1,175805684,BS_0105,1.007180e+11,83770,NaN,1.007180e+11,1/7/2022 04:40:34,NaN
4,万科企业股份有限公司,000002.SZ,M009,2019,1,175805688,BS_0109,7.785777e+11,83770,NaN,7.785777e+11,1/7/2022 04:40:34,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1731799,浙江夜光明光电科技股份有限公司,873527.BJ,M005,2022,3,206206488,PF_0118,-2.817221e+06,297776,NaN,-2.817221e+06,10/11/2022 13:38:12,NaN
1731800,浙江夜光明光电科技股份有限公司,873527.BJ,M005,2022,3,206206523,PF_0118_1,6.551007e+05,297776,NaN,6.551007e+05,10/11/2022 13:38:12,NaN
1731801,浙江夜光明光电科技股份有限公司,873527.BJ,M005,2022,3,206206504,PF_0129,2.830911e+07,297776,NaN,2.830911e+07,10/11/2022 13:38:12,NaN
1731802,浙江夜光明光电科技股份有限公司,873527.BJ,M005,2022,3,206206507,PF_0132,2.567637e+07,297776,NaN,2.567637e+07,10/11/2022 13:38:12,NaN
1731803,浙江夜光明光电科技股份有限公司,873527.BJ,M005,2022,3,207055640,stmnote_Eoitems_24,3.187749e+06,297776,NaN,3.187749e+06,10/11/2022 13:38:12,NaN

In [17]:
df2

,entity_name,stock_code,industry_whitewash,YEAR,quarterly_type,id,code,init_value,master_id,code_id,end_value,add_time,old_value
0,TCL科技集团股份有限公司,000100.SZ,M001,2019,4,179802687,BS_0108,2.744271e+09,62571,NaN,2.744271e+09,1/7/2022 05:24:32,NaN
1,TCL科技集团股份有限公司,000100.SZ,M001,2019,4,179802707,BS_0205,1.719428e+10,62571,NaN,1.719428e+10,1/7/2022 05:24:32,NaN
2,TCL科技集团股份有限公司,000100.SZ,M001,2019,4,179802708,BS_0206,8.227300e+07,62571,NaN,8.227300e+07,1/7/2022 05:24:32,NaN
3,TCL科技集团股份有限公司,000100.SZ,M001,2019,4,179802710,BS_0208,3.357829e+10,62571,NaN,3.357829e+10,1/7/2022 05:24:32,NaN
4,TCL科技集团股份有限公司,000100.SZ,M001,2019,4,179802717,BS_0215,2.452000e+06,62571,NaN,2.452000e+06,1/7/2022 05:24:32,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1940111,龙芯中科技术股份有限公司,688047.SH,M001,2022,3,206325270,PF_0122,1.001139e+06,299454,NaN,1.001139e+06,10/11/2022 13:38:12,NaN
1940112,龙芯中科技术股份有限公司,688047.SH,M001,2022,3,206325275,PF_0108_1,-1.000000e+06,299454,NaN,-1.000000e+06,10/11/2022 13:38:12,NaN
1940113,龙芯中科技术股份有限公司,688047.SH,M001,2022,3,206325281,PF_0119,-1.545070e+06,299454,NaN,-1.545070e+06,10/11/2022 13:38:12,NaN
1940114,龙芯中科技术股份有限公司,688047.SH,M001,2022,3,206325297,PF_0130,2.032070e+06,299454,NaN,2.032070e+06,10/11/2022 13:38:12,NaN
1940115,龙芯中科技术股份有限公司,688047.SH,M001,2022,3,206325312,PF_0123,3.912200e+02,299454,NaN,3.912200e+02,10/11/2022 13:38:12,NaN

In [18]:
# 补充数据重命名
df2.rename(columns={'entity_name': 'BASIC_entity_name',
                    'stock_code': 'BASIC_code',
                    'industry_whitewash': 'BASIC_industry',
                    'YEAR': 'BASIC_year',
                    'quarterly_type': 'BASIC_quarter'},
           inplace=True)

# 合并数据
df = pd.concat([df1, df2])
df.drop('add_time', axis=1, inplace=True)
df.drop('old_value', axis=1, inplace=True)

In [19]:
df[df['BASIC_year'] == 2020]

,BASIC_entity_name,BASIC_code,BASIC_industry,BASIC_year,BASIC_quarter,id,code,init_value,master_id,code_id,end_value
80,万科企业股份有限公司,000002.SZ,M009,2020,1,182808701,BS_0101,1.732716e+11,108007,NaN,1.732716e+11
81,万科企业股份有限公司,000002.SZ,M009,2020,1,182808702,BS_0102,2.411949e+09,108007,NaN,2.411949e+09
82,万科企业股份有限公司,000002.SZ,M009,2020,1,182808704,BS_0104,2.627513e+09,108007,NaN,2.627513e+09
83,万科企业股份有限公司,000002.SZ,M009,2020,1,182808705,BS_0105,1.068063e+11,108007,NaN,1.068063e+11
84,万科企业股份有限公司,000002.SZ,M009,2020,1,182808709,BS_0109,9.057745e+11,108007,NaN,9.057745e+11
...,...,...,...,...,...,...,...,...,...,...,...
1677015,上海新动力汽车科技股份有限公司,600841.SH,M018,2020,4,188557157,PF_0119,-1.608945e+08,271875,NaN,-1.608945e+08
1677016,上海新动力汽车科技股份有限公司,600841.SH,M018,2020,4,188557159,PF_0121,-1.226123e+06,271875,NaN,-1.226123e+06
1677017,上海新动力汽车科技股份有限公司,600841.SH,M018,2020,4,188557160,PF_0122,7.434818e+07,271875,NaN,7.434818e+07
1677018,上海新动力汽车科技股份有限公司,600841.SH,M018,2020,4,188557161,PF_0123,5.014855e+07,271875,NaN,5.014855e+07
1677019,上海新动力汽车科技股份有限公司,600841.SH,M018,2020,4,188557168,PF_0130,-1.009127e+08,271875,NaN,-1.009127e+08

In [20]:
df.to_csv('/Users/zhuangyuhao/PycharmProjects/SeasonRepMod/整合季报代码模型/dfs/原始科目数据_20230113.csv')