In [8]:
import pandas as pd

df = pd.read_csv('/Users/zhuangyuhao/PycharmProjects/SeasonRepMod/整合季报代码模型/meta_code/2022指标触发结果.csv')
df

,entity_name,NAME,code,year,quarterly,finnal_level
0,万科企业股份有限公司,营业收入大幅变动,Q1_APR_001_O01,2022,1,0
1,万科企业股份有限公司,营业收入连续三年下降,Q1_APR_001_O02,2022,1,0
2,万科企业股份有限公司,营业收入大幅变动,Q1_APR_002_O01,2022,1,0
3,万科企业股份有限公司,营业收入大幅变动,Q1_APR_002_O02,2022,1,0
4,万科企业股份有限公司,业绩实现比大幅变动,Q1_APR_003_O01,2022,1,0
...,...,...,...,...,...,...
1473135,北京易华录信息技术股份有限公司,期间费用占比大幅上升,Q3_OID_003_O01,2022,3,0
1473136,北京易华录信息技术股份有限公司,期间费用占比大幅上升,Q3_OID_003_O02,2022,3,1
1473137,北京易华录信息技术股份有限公司,期间费用占比连续三年上升,Q3_OID_003_O03,2022,3,0
1473138,北京易华录信息技术股份有限公司,单季期间费用占比大幅上升,Q3_OID_003_Q01,2022,3,0
1473139,北京易华录信息技术股份有限公司,单季期间费用占比大幅上升,Q3_OID_003_Q02,2022,3,0

In [9]:
df_Q1 = df[df.quarterly == 1]
df_Q1

,entity_name,NAME,code,year,quarterly,finnal_level
0,万科企业股份有限公司,营业收入大幅变动,Q1_APR_001_O01,2022,1,0
1,万科企业股份有限公司,营业收入连续三年下降,Q1_APR_001_O02,2022,1,0
2,万科企业股份有限公司,营业收入大幅变动,Q1_APR_002_O01,2022,1,0
3,万科企业股份有限公司,营业收入大幅变动,Q1_APR_002_O02,2022,1,0
4,万科企业股份有限公司,业绩实现比大幅变动,Q1_APR_003_O01,2022,1,0
...,...,...,...,...,...,...
878498,山高环能集团股份有限公司,应收账款周转率大幅降低,Q1_OID_002_O02,2022,1,0
878512,山高环能集团股份有限公司,应收账款周转率连续三年下降,Q1_OID_002_O03,2022,1,0
878521,山高环能集团股份有限公司,期间费用占比大幅上升,Q1_OID_003_O01,2022,1,0
878529,山高环能集团股份有限公司,期间费用占比大幅上升,Q1_OID_003_O02,2022,1,0
878545,山高环能集团股份有限公司,期间费用占比连续三年上升,Q1_OID_003_O03,2022,1,0

In [10]:
df_Q2 = df[df.quarterly == 2]
df_Q2

,entity_name,NAME,code,year,quarterly,finnal_level
308430,深圳市铭利达精密技术股份有限公司,营业收入大幅变动,Q2_APR_001_O01,2022,2,0
308431,深圳市铭利达精密技术股份有限公司,营业收入连续三年下降,Q2_APR_001_O02,2022,2,0
308432,深圳市铭利达精密技术股份有限公司,营业收入大幅变动,Q2_APR_002_O01,2022,2,0
308433,深圳市铭利达精密技术股份有限公司,营业收入大幅变动,Q2_APR_002_O02,2022,2,0
308434,深圳市铭利达精密技术股份有限公司,单季营业收入大幅变动,Q2_APR_001_Q01,2022,2,0
...,...,...,...,...,...,...
907519,上海贵酒股份有限公司,单季期间费用占比连续三年上升,Q2_OID_003_Q03,2022,2,0
907520,中微半导体(深圳)股份有限公司,总资产周转率大幅降低,Q2_OID_004_O01,2022,2,0
907521,上海贵酒股份有限公司,总资产周转率大幅降低,Q2_OID_004_O01,2022,2,0
907522,上海贵酒股份有限公司,总资产周转率大幅降低,Q2_OID_004_O02,2022,2,0
907523,中微半导体(深圳)股份有限公司,总资产周转率大幅降低,Q2_OID_004_O02,2022,2,0

In [11]:
df_Q3 = df[df.quarterly == 3]
df_Q3

,entity_name,NAME,code,year,quarterly,finnal_level
907524,中国天辰工程有限公司,营业收入大幅变动,Q3_APR_001_O01,2022,3,0
907525,中国天辰工程有限公司,营业收入连续三年下降,Q3_APR_001_O02,2022,3,0
907526,中国天辰工程有限公司,营业收入大幅变动,Q3_APR_002_O01,2022,3,0
907527,中国天辰工程有限公司,营业收入大幅变动,Q3_APR_002_O02,2022,3,0
907528,中国西电集团有限公司,营业收入大幅变动,Q3_APR_001_O01,2022,3,0
...,...,...,...,...,...,...
1473135,北京易华录信息技术股份有限公司,期间费用占比大幅上升,Q3_OID_003_O01,2022,3,0
1473136,北京易华录信息技术股份有限公司,期间费用占比大幅上升,Q3_OID_003_O02,2022,3,1
1473137,北京易华录信息技术股份有限公司,期间费用占比连续三年上升,Q3_OID_003_O03,2022,3,0
1473138,北京易华录信息技术股份有限公司,单季期间费用占比大幅上升,Q3_OID_003_Q01,2022,3,0
1473139,北京易华录信息技术股份有限公司,单季期间费用占比大幅上升,Q3_OID_003_Q02,2022,3,0