In [1]:
import pandas as pd

In [2]:
path = '~/PycharmProjects/SeasonRepMod/'

In [3]:
df1801 = pd.read_excel(path + '整合季报代码模型/后台指标原始数据/开发库/查询季报数据201801.xlsx')
df1802 = pd.read_excel(path + '整合季报代码模型/后台指标原始数据/开发库/查询季报数据201802.xlsx')
df1803 = pd.read_excel(path + '整合季报代码模型/后台指标原始数据/开发库/查询季报数据201803.xlsx')
df1804 = pd.read_excel(path + '整合季报代码模型/后台指标原始数据/开发库/查询季报数据201804.xlsx')
df_industry = pd.read_csv(path + '整合季报代码模型/meta_code/fin_entity.csv')
df_factor = pd.read_excel(path + '整合季报代码模型/后台指标原始数据/开发库/total_factor_dict.xlsx')

In [4]:
df1801

,id,entity_id,factor_id,molecule,denominator,finnal_value,year,quarterly,status,entity_name
0,56418273,23425,1,1.697970e+09,1.000000e+00,1.697970e+09,2018,1,0,山东港口烟台港集团有限公司
1,56418274,23425,2,2.869763e+08,1.410994e+09,2.033860e-01,2018,1,0,山东港口烟台港集团有限公司
2,56418275,23425,3,2.869763e+08,1.410994e+09,2.033860e-01,2018,1,0,山东港口烟台港集团有限公司
3,56418276,23425,8,1.697970e+09,0.000000e+00,-1.000000e+06,2018,1,0,山东港口烟台港集团有限公司
4,56418278,23425,16,2.732603e+07,2.850984e+08,9.584773e-02,2018,1,0,山东港口烟台港集团有限公司
...,...,...,...,...,...,...,...,...,...,...
925572,195689209,21362,209,-7.530451e-02,1.069027e-01,-7.044208e-01,2018,1,0,北京华录百纳影视股份有限公司
925573,195689213,21362,210,-7.530451e-02,1.000000e+00,-7.530451e-02,2018,1,0,北京华录百纳影视股份有限公司
925574,195689223,21362,213,-8.687978e+07,3.940369e+07,-2.204864e+00,2018,1,0,北京华录百纳影视股份有限公司
925575,195689226,21362,214,-1.000000e+06,-1.000000e+06,-1.000000e+06,2018,1,0,北京华录百纳影视股份有限公司
925576,195689237,21362,216,2.386706e+07,1.000000e+00,2.386706e+07,2018,1,0,北京华录百纳影视股份有限公司

In [71]:
df18 = pd.concat([df1801, df1802, df1803, df1804])
df18 = df18[['entity_name', 'year', 'quarterly', 'factor_id', 'finnal_value']]
df_industry_need = df_industry[['entity_name', 'industry_whitewash', 'stock_name', 'stock_code']]
df18 = pd.merge(df18, df_industry_need, on='entity_name', how='outer')
df18 = pd.merge(df18, df_factor, on='factor_id', how='left')
df18.drop('stock_name', inplace=True, axis=1)
df18.drop('factor_id', inplace=True, axis=1)
df18.drop('item_name', inplace=True, axis=1)
df18.rename(columns={'entity_name':'BASIC_entity_name',
                     'stock_code':'BASIC_code',
                     'year':'BASIC_year',
                     'quarterly':'BASIC_quarter',
                     'finnal_value':'end_value',
                     'industry_whitewash':'BASIC_industry'},
            inplace=True)
df18 = df18[['BASIC_entity_name',
             'BASIC_code',
             'BASIC_industry',
             'BASIC_year',
             'BASIC_quarter',
             'item_code',
             'end_value']]
df18.drop_duplicates(subset=["BASIC_entity_name", "BASIC_code", "BASIC_year", "BASIC_quarter", "item_code"], keep='first', inplace=True)
df18 = df18.pivot(index=['BASIC_entity_name', 'BASIC_code', 'BASIC_industry', 'BASIC_year', 'BASIC_quarter'], #以主体划分
                  columns='item_code',
                  values='end_value').reset_index()
df18

item_code,BASIC_entity_name,BASIC_code,BASIC_industry,BASIC_year,BASIC_quarter,NaN,QW_ACCOUNTSRECEIVABLETURNOVER,QW_ACCOUNTSRECEIVABLETURNOVER_DELTA,QW_ACCOUNTSRECEIVABLETURNOVER_DELTA_2,QW_ACCOUNTSRECEIVABLETURNOVER_GROWTH,...,QW_SELLEXPENSE_RATIO_DELTA,QW_SHORTBORROWING_RATIO,QW_SHORTBORROWING_RATIO_DELTA,QW_STOCK_RATIO,QW_STOCK_RATIO_DELTA,QW_TOTALASSETTURNOVER,QW_TOTALASSETTURNOVER_DELTA,QW_TOTALASSETTURNOVER_DELTA_2,QW_TOTALASSETTURNOVER_GROWTH,QW_TOTALASSETTURNOVER_GROWTH_2
0,1957 & Co.(Hospitality) Limited,8495.HK,M002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,360鲁大师控股有限公司,3601.HK,M014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,361度国际有限公司,1361.HK,M007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A8新媒体集团有限公司,0800.HK,M014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ASMPT Limited,0522.HK,M014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23222,龙翔集团控股有限公司,0935.HK,M017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23223,龙芯中科技术股份有限公司,688047.SH,M001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23224,龙记(百慕达)集团有限公司,0255.HK,M008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23225,龙资源有限公司,1712.HK,M003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23226,龙辉国际控股有限公司,1007.HK,M002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
df18.to_excel(path + '整合季报代码模型/整合后台数据/开发库/df18.xlsx')