In [19]:
import pandas as pd

In [20]:
path = '~/PycharmProjects/SeasonRepMod/'

In [21]:
df1901 = pd.read_excel(path + '整合季报代码模型/后台指标原始数据/开发库/查询季报数据202201.xlsx')
df1902 = pd.read_excel(path + '整合季报代码模型/后台指标原始数据/开发库/查询季报数据202202.xlsx')
df1903 = pd.read_excel(path + '整合季报代码模型/后台指标原始数据/开发库/查询季报数据202203.xlsx')
# df1904 = pd.read_excel(path + '整合季报代码模型/后台指标原始数据/开发库/查询季报数据202204.xlsx')
df_industry = pd.read_csv(path + '整合季报代码模型/meta_code/fin_entity.csv')
df_factor = pd.read_excel(path + '整合季报代码模型/后台指标原始数据/开发库/total_factor_dict.xlsx')

In [22]:
df18 = pd.concat([df1901, df1902, df1903])
df18 = df18[['entity_name', 'year', 'quarterly', 'factor_id', 'finnal_value']]
df_industry_need = df_industry[['entity_name', 'industry_whitewash', 'stock_name', 'stock_code']]
df18 = pd.merge(df18, df_industry_need, on='entity_name', how='outer')
df18 = pd.merge(df18, df_factor, on='factor_id', how='left')
df18.drop('stock_name', inplace=True, axis=1)
df18.drop('factor_id', inplace=True, axis=1)
df18.drop('item_name', inplace=True, axis=1)
df18.rename(columns={'entity_name':'BASIC_entity_name',
                     'stock_code':'BASIC_code',
                     'year':'BASIC_year',
                     'quarterly':'BASIC_quarter',
                     'finnal_value':'end_value',
                     'industry_whitewash':'BASIC_industry'},
            inplace=True)
df18 = df18[['BASIC_entity_name',
             'BASIC_code',
             'BASIC_industry',
             'BASIC_year',
             'BASIC_quarter',
             'item_code',
             'end_value']]
df18.drop_duplicates(subset=["BASIC_entity_name", "BASIC_code", "BASIC_year", "BASIC_quarter", "item_code"], keep='first', inplace=True)
df18 = df18.pivot(index=['BASIC_entity_name', 'BASIC_code', 'BASIC_industry', 'BASIC_year', 'BASIC_quarter'], #以主体划分
                  columns='item_code',
                  values='end_value').reset_index()
df18

item_code,BASIC_entity_name,BASIC_code,BASIC_industry,BASIC_year,BASIC_quarter,NaN,QW_ACCOUNTSRECEIVABLETURNOVER,QW_ACCOUNTSRECEIVABLETURNOVER_DELTA,QW_ACCOUNTSRECEIVABLETURNOVER_DELTA_2,QW_ACCOUNTSRECEIVABLETURNOVER_GROWTH,...,QW_SELLEXPENSE_RATIO_DELTA,QW_SHORTBORROWING_RATIO,QW_SHORTBORROWING_RATIO_DELTA,QW_STOCK_RATIO,QW_STOCK_RATIO_DELTA,QW_TOTALASSETTURNOVER,QW_TOTALASSETTURNOVER_DELTA,QW_TOTALASSETTURNOVER_DELTA_2,QW_TOTALASSETTURNOVER_GROWTH,QW_TOTALASSETTURNOVER_GROWTH_2
0,1957 & Co.(Hospitality) Limited,8495.HK,M002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,360鲁大师控股有限公司,3601.HK,M014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,361度国际有限公司,1361.HK,M007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A8新媒体集团有限公司,0800.HK,M014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ASMPT Limited,0522.HK,M014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18872,龙芯中科技术股份有限公司,688047.SH,M001,2022.0,2.0,NaN,-999999.999900,-999999.9999,-999999.9999,-999999.9999,...,-999999.999900,-999999.9999,-999999.9999,0.129420,-999999.999900,-999999.99990,-999999.9999,-999999.9999,-999999.9999,-999999.9999
18873,龙芯中科技术股份有限公司,688047.SH,M001,2022.0,3.0,NaN,0.867566,-999999.9999,-999999.9999,-999999.9999,...,0.016137,-999999.9999,-999999.9999,0.143554,0.014134,0.10977,-999999.9999,-999999.9999,-999999.9999,-999999.9999
18874,龙记(百慕达)集团有限公司,0255.HK,M008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18875,龙资源有限公司,1712.HK,M003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18876,龙辉国际控股有限公司,1007.HK,M002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df18.to_excel(path + '整合季报代码模型/整合后台数据/开发库/df22.xlsx')